<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Forecast</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#455a64">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="container main-container">
            <div class="row">
                <div class="col-12 col-xl-6 offset-xl-3">
                    <div class="card-container mt-5">
                        <h1 class="mb-3"> {{ title }} </h1>
                        <p>
                            Enter ticker name and select media outlets to search in.
                            Click reset button to close tabs.
                        </p>
                        <div class="row mb-4">
                            <div class="col-12">
                                <form id="ticker-form" @submit.prevent="submitTicker()">
                                    <div class="input-group">
                                        <input @focus="$event.target.select()" v-model="ticker" type="text" minlength="1"
                                               class="form-control" id="input-ticker" placeholder="Search ticker...">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="submit">Search</button>
                                            <button class="btn btn-outline-secondary" type="button" @click="closeWindows()"
                                                    v-if="submitted">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-2" v-for="source in sources">
                                <div class="pretty p-switch">
                                    <input type="checkbox" v-model="source.selected" />
                                    <div class="state p-success">
                                        <label>{{ source.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        * {
            font-family: 'Comfortaa', cursive;
        }
        body {
            background: linear-gradient(to bottom right, #81C784, #29B6F6, #43A047) no-repeat;
            height: 100vh;
        }

        #app {
            width: 100%;
            height: 100vh;
        }

        .main-container {
            position: relative;
            height: 100%;
        }

        h1 {
            font-weight: 300;
            color: #555;
            font-size: 30px;
        }

        hr {
            border-color: #ddd;
        }

        .card-container {
            background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
            border: 1px solid #dedede;
            padding: 30px 20px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        }

        .card-container {

        }

        *,
        h1 {
            font-weight: 300;
        }

        .p-switch label {
            padding-left: 5px;
        }

    </style>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Stock research app',
                ticker: '',
                submitted: false,
                sources: [
                    { name: 'Stocktwits', selected: true, link: 'https://stocktwits.com/symbol/${ticker}', ref: null },
                    { name: 'Yahoo Finance', selected: true, link: 'https://finance.yahoo.com/quote/${ticker}?p=${ticker}&.tsrc=fin-srch', ref: null },
                    { name: 'Nasdaq', selected: true, link: 'https://www.nasdaq.com/market-activity/stocks/${ticker}', ref: null },
                    { name: 'Wall Street Journal', selected: true, link: 'https://www.wsj.com/market-data/quotes/${ticker}', ref: null },
                    { name: 'CNBC', selected: true, link: 'https://www.cnbc.com/quotes/${ticker}?qsearchterm=${ticker}', ref: null },
                    { name: 'Business Insider', selected: true, link: 'https://markets.businessinsider.com/stocks/${ticker}', ref: null },
                    { name: 'Finviz', selected: true, link: 'https://finviz.com/quote.ashx?t=${ticker}', ref: null },
                    { name: 'MarketWatch', selected: true, link: 'https://www.marketwatch.com/investing/stock/${ticker}', ref: null },
                    { name: 'CNN Money', selected: true, link: 'https://money.cnn.com/quote/quote.html?symb=${ticker}', ref: null },
                    { name: 'TipRanks', selected: true, link: 'https://www.tipranks.com/stocks/${ticker}/forecast', ref: null },
                    { name: 'BarChart', selected: true, link: 'https://www.barchart.com/stocks/quotes/${ticker}/overview', ref: null },
                    { name: 'TradingView', selected: true, link: 'https://www.tradingview.com/symbols/${ticker}', ref: null },
                ]
            },

            methods: {
                submitTicker() {
                    this.submitted = true;
                    this.sources.forEach(source => {
                        if (source.selected) {
                            let link = source.link.split('${ticker}').join(this.ticker);
                            source.ref = window.open(link, '_blank');
                        }
                    });
                },

                closeWindows() {
                    this.sources.forEach(source => {
                        if (source.ref) {
                            source.ref.close();
                        }
                    });
                    this.submitted = false;
                    this.ticker = '';
                }
            }
        })
    </script>

</body>

</html>
