@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Quicksand", sans-serif;
    background: linear-gradient(to bottom right, #81c784, #29b6f6, #43a047) no-repeat;
    min-height: 100vh;
}

#app {
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}
